/*
  From section 7 . Lecture 59
  Custom styles for the app.jsx
*/
/* Add class to
    Weather.jsx => render => return <h1 className=" page-title" */
.page-title {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* Styling NO shadows in ALL input elements with type = search*/
input[type=search] {
  box-shadow: none;
}
