/*
  From section 7 . Lecture 59
  Custom styles for the app.jsx
*/
/* Add class to
    Weather.jsx => render => return <h1 className=" page-title" */
$space-large: 2.5rem;
$title-color: #555;

.page-title {
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

/* Styling NO shadows in ALL input elements with type = search*/
input[type=search] {
  box-shadow: none;
}
